
<%= form_with model: @listing, :html => {:multipart => true}, local: true do |form| %>

    <% if @listing.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@listing.errors.count, "error") %> prohibited
            this listing from being saved:
        </h2>
        <ul>
            <% @listing.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    
    <div class="form-group row">
        <div class="form-group col-md-6">
            <%= form.label :property_type %>
            <%= form.text_field :property_type, class: 'form-control' %>
        </div>
        <div class="form-group col-md-6">
            <%= form.label :property_name %>
            <%= form.text_field :property_name, class: 'form-control' %>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="form-group col-md-3">
            <%= form.label :country %>
            <%= form.text_field :country, class: 'form-control' %>
        </div>
        <div class="form-group col-md-3">
            <%= form.label :state %>
            <%= form.text_field :state, class: 'form-control' %>
        </div>
        <div class="form-group col-md-3">
            <%= form.label :city %>
            <%= form.text_field :city, class: 'form-control' %>
        </div>
        <div class="form-group col-md-3">
            <%= form.label :zipcode %>
            <%= form.text_field :zipcode, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group row ">
        <div class="form-group col-md-12">
            <%= form.label :address %>
            <%= form.text_field :address, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group row">
        <div class="form-group col-md-3">
            <%= form.label :no_of_guests %>
            <%= form.text_field :no_of_guests, class: 'form-control' %>
        </div>
        <div class="form-group col-md-3">
            <%= form.label :no_of_bedrooms %>
            <%= form.text_field :no_of_bedrooms, class: 'form-control' %>
        </div>
        <div class="form-group col-md-3">
            <%= form.label :no_of_beds %>
            <%= form.text_field :no_of_beds, class: 'form-control' %>
        </div>
        <div class="form-group col-md-3">
            <%= form.label :no_of_bathrooms %>
            <%= form.text_field :no_of_bathrooms, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group row">
        <div class="form-group col-md-12">
            <%= form.label :amenities %>
            <%= form.text_area :amenities, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group row">
        <div class="form-group col-md-3"> 
            <%= form.label :price_per_night %> 
            <%= form.text_field :price_per_night, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group row">
        <div class="form-group col-md-3"> 
            <%= form.label :Gallery %> 
            <%= form.file_field :images, multiple: true %>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="form-group col-md-3"> 
            <%= form.submit %>
        </div>
    </div>
<% end %>
