<h1>All listings</h1>
 
<% @listings.each do |listing| %>
    <div class = "d-inline-block">
        <div class="card border-dark mb-4 mr-2" style="width: 18rem;">
            <img class="card-img-top" src=<%= listing.images.first.to_s %> alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%= listing.property_name %></h5>
                <h5 class="card-title"><%= listing.property_type %></h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> RM <%= listing.price_per_night %> per night</li>
                </ul>
                <div class="btn btn-secondary">
                <%= link_to 'View property', listing_path(listing) %>
                </div>
            </div>
            <div class="card-footer">
                <% if listing.verification == true %>
                    <img class="card-img" style="width: 1.5rem;"src="/assets/verify-icon.png" alt="Card image cap">
                <% end %>
            </div>
        </div>
    </div>
<% end %>
<%= paginate @listings %>
