<% if @reservation.errors.any? %>
    <div id="error_explanation">
    <h2>
        <%= pluralize(@reservation.errors.count, "error") %> prohibited
        this reservation from being saved:
    </h2>
    <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
    </div>
<% end %>

<div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <% @listing.images.each do |image| %>
      <% if image == @listing.images[0] %>
        <div class="carousel-item active">
          <img class="d-block w-100" src=<%= image.url %>>
        </div>
      <% else %>
        <div class="carousel-item">
          <img class="d-block w-100" src=<%= image.url %>>
        </div>
      <% end %>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<h2> Property Information:</h2>
<p>
  <strong>Property type:</strong>
  <%= @listing.property_type %>
</p>
 
<p>
  <strong>Property name:</strong>
  <%= @listing.property_name %>
</p>
 
<p>
  <strong>Country:</strong>
  <%= @listing.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @listing.zipcode %>
</p>

<p>
  <strong> Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Number of guests:</strong>
  <%= @listing.no_of_guests %>
</p>

<p>
  <strong>Number of bedrooms:</strong>
  <%= @listing.no_of_bedrooms %>
</p>
 
<p>
  <strong>Number of beds:</strong>
  <%= @listing.no_of_beds %>
</p>

<p>
  <strong>Number of bathrooms:</strong>
  <%= @listing.no_of_bathrooms %>
</p>
 
<p>
  <strong>Amenities:</strong>
  <%= @listing.amenities %>
</p>

<p>
  <strong>Price per night:</strong>
  <%= @listing.price_per_night %>
</p>

<% if @listing.verification == true %>
  <p><i> Listing already verified </i></p>
<% else %>
  <% if current_user.superadmin? || current_user.moderator? %>
  <%= link_to 'Verify listing', verify_listing_path(@listing) %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_listing_path(@listing) %>
<%= link_to 'Back', listings_path %>
<%= link_to 'Delete', listing_path(@listing), method: :delete, data: { confirm: 'Are you sure?'} %>

<br/>

<nav class="navbar fixed-bottom navbar-light bg-faded">
  <img class="card-img" style="width: 5rem;"src="/assets/airbnb.jpg" alt="Card image cap">

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Book now!
  </button>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book now before it's gone!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= form_with scope: :reservation, url: listing_reservations_path(@listing.id), local: true do |form| %>
            <div class="form-group row">
              <div class="form-group col-md-6">
                  <%= form.label :check_in %>
                  <%= form.date_field :check_in, class: 'form-control' %>
              </div>
              <div class="form-group col-md-6">
                    <%= form.label :check_out %>
                    <%= form.date_field :check_out, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-12">
                    <%= form.label :no_of_guests %> <br/>
                    <%= form.text_field :no_of_guests, class: 'form-control' %>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Book</button>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
